@import "../vars";
@import "../fonts";

// -----------------------------------------------------------------------------
// -------------------------------- Cards --------------------------------------
// -----------------------------------------------------------------------------

.cards{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 3%;
	&_main_name{
		font-family: RobotoBold;
		color: white;
		font-size: 1.5em;
		margin-bottom: 40px;
	}
	.card{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&_item{
			// cursor: pointer;
			flex: 0 0 31.3%;
			min-width: 300px;
			height: 200px;
			border: 4px solid $color-main;
			padding: 15px 20px;
			// position: relative;
			border-radius: 20px;
			background-color: $color-bg-ligth;
			margin-bottom: 30px;
			@include trs;
			box-shadow: 0 0 15px $color-main_;
			&_noactive:hover{
				// background-color: $color-main;
				.buttons_group button{
					/* background-color: $color-bg-mark; */
					// box-shadow: 0 0 5px $color-main__;
				}
			}
			&_name{
				font-family: RobotoBlack;
				margin-bottom: 15px;
				color: white;
			}
			&_count_words{
				// position: absolute;
				right: 20px;
				top: 15px;
				color: $color-bg-grey;
				font-family: RobotoRegular;
			}
			&_count_repetitions{
				color: $color-bg-grey;
				font-family: RobotoRegular;
			}
			.buttons_group{
				// position: absolute;
				bottom: 20px;
				display: flex;
				justify-content: center;
				width: 100%;
				margin-left: -20px;
				button {
					@include button_default;
					margin-right: 10px;
					width: 30%;
				}
			}
		}
		&_item.new_card{
			display: flex;
			align-items: center;
			justify-content: center;
			svg{
				color: white;
				font-size: 3.5em;
				background-color: $color-main;
				border-radius: 50%;
				padding: 5px;
				cursor: pointer;
			}
		}
		&_item.card_item_active{
			flex: 0 0 100%;
			min-height: 300px;
			height: auto;
		}
	}
	
	.card_item_panel{
		&_item_words{
			/* column-fill: auto; */
			/* column-width: 30%; */
			/* width: 100%; */
			/* height: 100%; */
			column-count: 4;
			margin-top: 20px;
			color: white;
			font-family: RobotoLight;
		}
	
		&_item_words ul li{
			margin-bottom: 5px;
		}
		&_adding{
			margin-top: 30px;
			font-family: RobotoRegular;
		}
		&_adding_input{
			width: 180px;
			height: 40px;
			padding-left: 55px;
			padding-right: 10px;
			border-radius: 20px;
			border: 2px solid $color-main;
			overflow: hidden;
			outline: none;
			font-family: RobotoBold;
		}
		&_adding label{
			// position: relative;
			overflow: hidden;
		}
		&_lang{
			// position: absolute;
			/* left: 0; */
			/* top: px; */
			background-color: $color-main;
			padding: 10px 0px;
			width: 50px;
			text-align: center;
			border-radius: 20px 0px 0px 20px;
			// color: white;
		}
		&_toggler{
			color: white;
			padding: 5px 10px;
			cursor: pointer;
		}
		&_button_add{
			@include trs;
			font-family: RobotoBold;
			padding: 7px 20px;
			text-decoration: none;
			border: 3px solid $color-main;
			border-radius: 20px;
			margin-left: 15px;
			background-color: transparent;
			color: white;
			cursor: pointer;
			
			&:hover{
				background-color: darken($color-main, 7%);
			}
		}
	}
}


.lesson_card{
	&_wrap{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		.lesson_card{
			width: 450px;
			height: 250px;
			background-color: $color-bg-ligth;
			box-shadow: 0 0 15px $color-main_;
			border: 4px solid $color-main;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-radius: 20px;
		}
	}
	&_num, &_word, &_hint{
		font-family: RobotoBold;
		color: white;
	}
	&_hint{
		position: absolute;
		top: 20px;
		right: 20px;
		text-decoration: none;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	&_word{
		font-size: 2em;
	}
	&_num{
		position: absolute;
		top: 20px;
		left: 20px;
	}
}

.answer{
	&_section_wrap{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&_input{
		width: 360px;
		height: 42px;
		outline: none;
		background-color: $color-bg-ligth;
		border: 2px solid $color-bg-grey;
		box-shadow: 0 0 10px rgba(47, 47, 47, 0.568);
		border-radius: 25px;
		padding: 0 20px;
		color: white;
		font-family: RobotoBold;
	}
	&_button_next_word {
		width: 30px;
		height: 30px;
		// background: url(../media/images/right-arrow.svg) no-repeat center;
		color: #fff;
		margin-left: 10px;
		cursor: pointer;
		/* border: 1px solid #000; */
	}
}