@import "../vars";
@import "../fonts";

.Main{
	background-color: $color-accent;
	width: 100%;
	height: calc(100vh - 95px);
	.slider{
		overflow: hidden;
		height: 100%;
		padding: 50px 10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.text_block{
			height: 60%;
			width: 60%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			h1{
				font-family: RobotoBlack;
			}
			h2{
				font-family: RobotoBold;
			}
			p{
				font-family: RobotoLight;
			}
			.advantages{

				&_item{
					font-family: RobotoLight;
				}
			}
		}
		.image_wrapper{
			// height: 60%;
			width: 35%;
			.image_slider{
				width: 100%;
				// height: 100%;
			}
		}
	}
}