@import "../vars";
@import "../fonts";


.Play{
	&__card{
		&_section{
			// background-color: red;
			display: flex;
			justify-content: center;
			.lesson_card{
				width: 30%;
				min-width: 300px;
				height: 20%;
				min-height: 200px;
				background-color: $color-bg-ligth;
				// box-shadow: 0 0 15px $color-main_;
				border: 4px solid $color-main;
				border-radius: 20px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&_lang{
					position: absolute;
					top: 20px;
					left: 20px;
				}
				&_hint{
					position: absolute;
					top: 20px;
					right: 20px;
					text-decoration: none;
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
			}
		}
		.answer{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin-top: 20px;
			&_input{
				width: 360px;
				height: 42px;
				outline: none;
				background-color: $color-bg-ligth;
				border: 2px solid $color-bg-grey;
				box-shadow: 0 0 10px rgba(47, 47, 47, 0.568);
				border-radius: 25px;
				padding: 0 20px;
				color: white;
				font-family: RobotoBold;
			}
			&_button_next_word, &_button_skip_word {
				width: 30px;
				height: 30px;
				color: #fff;
				cursor: pointer;
				@include trs(.1s);
				&:hover{
					color: rgb(202, 202, 202);
				}
			}
			&_button_skip_word{
				display: flex;
				align-items: center;
				justify-content: center;
				
				svg{
					font-size: 1.5em;
				}
			}
		}
	
	}
	&__card.ended{
		display: none;
	}

	.section_congratulations{
		display: none;
	}
	.section_congratulations.ended{
		display: flex;
		padding: 20px 40px;
		.congratulations{
			width: 100%;
			border: 5px solid $color-main;
			border-radius: 20px;
			@include bs(15px, 0px, $color-main);
			text-align: center;
			padding: 40px 0;
			height: calc(100vh - 200px);
			min-height: 350px;
			max-height: 450px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			h2{
				margin-bottom: 20px;
				font: 2em RobotoBold;
			}
			h3{ font: 1.5em RobotoRegular }
			h1{ font: 2.5em RobotoBlack }
			.control_buttons{
				display: flex;
				gap: 20px;
				justify-content: center;
			}
		}
	}
	.section_results.showed{
		display: block;
		// background-color: red;
	}
	.section_results.hided{
		display: none;
	}

	.top_panel{
		// background-color: red;
		// display: flex;
		width: 100%;
		columns: 2 500px;
		padding: 30px 50px;
		.top_right_panel{
			display: flex;
			padding: 10px 0;
			flex-direction: column;
			// width: 50%;
			// justify-content: end;
			align-items: flex-end;
			// background-color: red;
			&__button_finish{
				@include button_default;
				background-color: $color-error;
				border: $border_size_sm solid darken($color-error, 10);
				width: 150px;
				height: 40px;
				&:hover{
					background-color: darken($color-error, 10);
				}
			}
			&__lang_toggler{
				margin-bottom: 20px;
				.main_lang_button, .second_lang_button{
					padding: 3px 5px;
					margin: 0 3px;
					border-radius: $border_radius_sm;
					cursor: pointer;
					// box-sizing:content-box;
					&-actived{
						color: white;
						background-color: $color-main;
					}
					&-non-actived{
						color: #777;
					}
				}
				.lang_toggler__seporator{
					margin-top: -5px;
					font-size: 1.2em;
					margin: 0 3px;
					cursor: pointer;
				}
			}
		}
	}
}

.lesson_card{
	&_wrap{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		.lesson_card{
			width: 450px;
			height: 250px;
			
		}
	}
	&_num, &_word, &_hint{
		font-family: RobotoBold;
		color: white;
	}
	&_word{
		font-size: 2em;
	}
	&_num{
		position: absolute;
		top: 20px;
		left: 20px;
	}
}



// Results

.section_results{
	padding: 10px 50px;
	&__header{
		font: 1.6em RobotoBold;
		margin: 15px 0;
	}
	&_header_list{
		display: flex;
		padding: 5px 10px;
		margin: 0;
		width: 100%;
		*{
			width: calc(100% / 4);
			color: rgb(124, 124, 124);
			font: 1em RobotoLight;
		}
	}
	&_list{
		padding: 0;
		&__item{
			border: 1px solid $color-main;
			margin-bottom: 5px;
			padding: 5px 10px;
			display: flex;
			justify-content: space-between;
			border-radius: $border_radius_sm;
			*{
				min-width: 160px;
				width: calc(100% / 4);
			}
			&__main_word{
				
			}
			&__answer{

			}
			&__successed{
				&-correct{
					span{
						padding: 3px 7px;
						border-radius: $border_radius_sm;							
						background-color: $color-success;
					}
				}
				&-non-correct{
					span{
						padding: 3px 7px;
						border-radius: $border_radius_sm;							
						background-color: $color-error;
					}
				}
			}
			&__time{

			}
		}
	}
	
}