@import "../vars.scss";
@import "../fonts.scss";


.settings{
	// background-color: red;
	height: 100%;
	$size_side: 100px;
	display: flex;
	width: 100%;
	&__changer_avatar{
		// background-color: red;
		width: $size_side;
		height: $size_side;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
		&:hover{
			.settings__changer_avatar_label{
				opacity: 1;
			}
		}
		&_current_image{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 100%;
				// height: 100%;
			}
		}
		&_label{
			position: absolute;
			top: 0;
			left: 0;
			@include trs(.1s);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			opacity: 0;
			width: $size_side;
			height: $size_side;
			color: white;
			font-size: 1.3em;
		}
		&_input{
			display: none;
		}
	}

	&__changer_textable_values{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&_content{
			background-color: $color-bg-ligth;
			border-radius: $border_radius_md;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 20px 40px;
			width: 70%;
			.changer_value{
				display: flex;
				// flex-direction: column;
				width: 40%;
				min-width: 500px;
				align-items: center;
				margin-bottom: 5px;
				// justify-content: center;
				label{
					width: 40%;
					text-align: right;
					color: rgb(221, 221, 221);
					margin-right: 10px;
				}
				input{
					font: 1em RobotoBold;
					min-width: 250px;
					border-radius: $border_radius_sm;
				}
			}
			.button_save{
				margin-top: 20px;
				min-width: 250px;
			}
			// .change_password{
			// 	flex-direction: column;
			// }
		}
	}
}