@import "../vars";
@import "../fonts";

.UserPage{
	padding: 30px 50px;

	.top_panel{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.top_panel_left{
			display: flex;
			flex-direction: row;
			.avatar{
				width: 50px;
				height: 50px;
				background-color: red;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 15px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.info{
				display: flex;
				flex-direction: column;
				justify-content: start;
				&_name{
					color: white;
					font: 1.5em RobotoBold;
					margin: 0;
				}
				&_login{
					color: rgb(92, 92, 92);
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
				}
			}
		}
		.top_panel_right{
			display: flex;
			flex-direction: column;
			align-items: end;
			.info_rating{
				// margin-top: 10px;
				&_count{
					margin: 0;
					color: white;
					font: 1.2em RobotoBlack;
					float: right;
					// line-height: 1.5em;
				}
				&_icon{
					color: rgb(214, 218, 4);
					svg{
						font-size: 1.3em;
					}
				}
			}
			.info_position{
				font-size: 1.3em;
				color: white;
				font-family: RobotoRegular;
				.position_mark{
					color: $color-link;
					font-family: RobotoBlack;
					text-decoration: none;
				}
			}
		}
	}


	.owners_deck{
		margin-top: 30px;
		.head_section_owners_deck{
			color: white;
			font: 1.5em RobotoBlack;
		}
		.cards{
			padding: 20px 10px 0 10px;
			display: flex;
			width: 100%;
			flex-direction: row;
			flex-wrap: nowrap;
			overflow-x: scroll;
			scrollbar-width: none;
			cursor: grab;
			&::-webkit-scrollbar {
				height: 0.4em;
				width: 300px;
			}
			
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.541);
			}
			
			&::-webkit-scrollbar-thumb {
				 border-radius: 5px;
				background-color: rgb(59, 59, 59);
				// outline: 1px solid rgb(70, 70, 70);
			 }
		}
	}
	
}