/* Raleway */
@font-face {
	font-family: "RalewayBold";
	src: url("fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
	font-family: "RalewayLight";
	src: url("fonts/Raleway/Raleway-Light.ttf");
}
@font-face {
	font-family: "RalewayRegular";
	src: url("fonts/Raleway/Raleway-Regular.ttf");
}

/* Roboto */
@font-face {
	font-family: "RobotoBold";
	src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
	font-family: "RobotoBlack";
	src: url("./fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
	font-family: "RobotoRegular";
	src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "RobotoRegularItalic";
	src: url("./fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
	font-family: "RobotoLight";
	src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "RobotoLightItalic";
	src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
}
