@import "vars";
@import "fonts";

// -----------------------------------------------------------------------------
// ---------------------------- Registration -----------------------------------
// -----------------------------------------------------------------------------

.registration{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	form{
		width: 25%;
		height: 40%;
		background-color: lighten($color-bg-dark, 10%);
		padding: 50px 30px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2{
			color: white;
			font-family: RobotoBold;
			color: white;
			font-size: 1.2em;
			text-align: center;
			margin-bottom: 15px;
		}
		.form-floating{
			margin-bottom: 10px;
			input{
				height: 40px !important;
			}
			label{
				padding: 6px 10px;
			}
		}
		button{
			margin-top: 20px;
		}
	}
}


// -----------------------------------------------------------------------------
// ------------------------------- Login ---------------------------------------
// -----------------------------------------------------------------------------


.section_form_login{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	// main form
	.form_login{
		width: 350px;
		height: 350px;
		display: flex;
		border-radius: 15px;
		// justify-content: center;
		align-items: center;
		flex-direction: column;
		color: white;
		background-color: lighten($color-bg-ligth, 6);
		font-family: RobotoRegular;
		padding: 30px 0;
		&_h3{
			margin-bottom: 30px;
			font: 1.5em RobotoBold;
		}
		.inputs{
			display: flex;
			flex-direction: column;
			.form_login_input{
				width: 210px;
				height: 30px;
				margin-bottom: 10px;
				border: 2px solid $color-main;
				outline: none;
				border-radius: 20px;
				background-color: $color-bg-ligth;
				padding: 0 20px;
				font-family: RobotoBold;
				color: white;
			}
		}
		&_button_login{
			@include button_default;
			margin-top: 20px;
			width: 250px;
			// height: 30px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			img{
				height: 15px;
				margin-right: 7px;
			}
		}
		.separator{
			margin-top: 20px;
		}
	}
}
